## Analyse de comptes bancaires

In [ ]:
#importation des librairies
import pandas as pd
import os

In [ ]:
#paramètres de l'application
file_location = "./Data/Comptes_Bancaires"

address_file = os.path.join(file_location, "adresses.csv")
client_file = os.path.join(file_location, "clients.csv")
account_file = os.path.join(file_location, "comptes.csv")

In [ ]:
# 1. Chargez les fichiers dans les dataframes
df_adresses = pd.read_csv(address_file)
df_clients = pd.read_csv(client_file)
df_comptes = pd.read_csv(account_file)

In [ ]:
# 2. Affichez les 10 premières lignes de df_adresses
df_adresses.head(10)

In [ ]:
# 2. Affichez les 10 premières lignes de df_clients
df_clients.head(10)

In [ ]:
# 2. Affichez les 10 premières lignes de df_comptes
df_comptes.head(10)

In [ ]:
df_clients.info()

In [ ]:
# 3. Convertissez la colonne "date_naissance" en type datetime
df_clients["date_naissance"] = pd.to_datetime(df_clients["date_naissance"])

In [ ]:
# Vérification de la conversion de types
df_clients.info()

In [ ]:
# 4. Affichez les données prénoms, noms et dates de naissance des clients nés avant 1990
df_clients_1990 = df_clients[df_clients['date_naissance'] < '1990-01-01']
df_clients_1990[['prenom', 'nom', 'date_naissance']]

In [ ]:
# 5. Faites une jointure entre les dataframes df_adresses, df_clients en utilisant la colonne "adresse_id"
#df_clients_adresses = pd.merge(df_clients, df_adresses, on='adresse_id')
df_clients_adresses = df_clients.merge(df_adresses, on='adresse_id')
df_clients_adresses

In [ ]:
# 6. Affichez les colonnes suivantes pour les 10 premiers clients: prenom, nom, numero_rue, nom_rue, nom_ville
df_clients_adresses[["prenom", "nom", "numero_rue", "nom_rue", "nom_ville"]].head(10)

In [ ]:
# 7. Effectuez une jointure entre df_clients_adresses et df_comptes en utilisant code_client
df_all_data = pd.merge(df_clients_adresses, df_comptes, on='code_client')
df_all_data.head(10)

In [ ]:
# 8. Affichez les colonnes suivantes: iban, valorisation_en_cents, prenom, nom, date_naissance, nom_ville du dataframe df_all_data
df_all_data[["iban", "valorisation_en_cents", "prenom", "nom", "date_naissance", "nom_ville"]].head(10)

In [ ]:
# 9.Calculez la valorisation totale des comptes en euros pour chaque ville
df_valo_par_ville = df_all_data.groupby("nom_ville") \
    .agg(valorisation_en_euros=("valorisation_en_cents", lambda val:val.sum()/100))

df_valo_par_ville.sort_values(by="valorisation_en_euros", ascending=False)

In [ ]:
# 10. Comptez le nombre de comptes associés à une adresse
df_all_data.groupby(['adresse_id', 'numero_rue', 'nom_rue', 'code_ville']).size() \
    .reset_index(name='nombre_comptes') \
    .sort_values(by="nombre_comptes", ascending=False)

In [ ]:
# Autre possibilité
df_all_data.groupby('adresse_id').agg(nombre_comptes=("iban", "count")) \
    .sort_values(by="nombre_comptes", ascending=False)

In [ ]:
# 11. Affichez la valorisation de tous les comptes en Euros par prénom
df_all_data.groupby("prenom") \
    .agg(valorisation_en_euros=("valorisation_en_cents", lambda val:val.sum()/100)) \
    .sort_values(by="valorisation_en_euros", ascending=False)