In [1]:
#Importation de librairies
import pandas as pd

In [17]:
fichier_utilisateurs = "./Data/Reseaux/utilisateurs.csv"
fichier_temps_passe = "./Data/Reseaux/reseaux_sociaux.csv"

df_utilisateurs = pd.read_csv(fichier_utilisateurs, encoding="latin-1")

df_donnees = pd.read_csv(fichier_temps_passe, encoding="latin-1")

In [18]:
df_utilisateurs.rename(columns={'id': 'id_utilisateur'}, inplace=True)

df_donnees.rename(columns={'id': 'id_data'}, inplace=True)

In [19]:
df_merge = df_utilisateurs.merge(df_donnees, on="adresse IP", how="left")

df_merge.head(100)

,id_utilisateur,prénom,nom,date de naissance,adresse IP,id_data,site,temps passé
0,1,Louis,Rolland,2004-12-28,21.209.250.237,1,Pinterest,136.2
1,1,Louis,Rolland,2004-12-28,21.209.250.237,2,X,168.3
2,1,Louis,Rolland,2004-12-28,21.209.250.237,3,Facebook Messenger,128.3
3,1,Louis,Rolland,2004-12-28,21.209.250.237,4,Twitch,71.7
4,1,Louis,Rolland,2004-12-28,21.209.250.237,5,YouTube,519.5
...,...,...,...,...,...,...,...,...
95,26,Rayan,Perrin,2004-12-28,187.21.191.59,96,Snapchat,197.2
96,27,Ibrahim,Gerard,2004-12-28,111.75.65.156,97,Facebook,65.9
97,27,Ibrahim,Gerard,2004-12-28,111.75.65.156,98,Pinterest,104.1
98,27,Ibrahim,Gerard,2004-12-28,111.75.65.156,99,WhatsApp,320.1
99,27,Ibrahim,Gerard,2004-12-28,111.75.65.156,100,LinkedIn,136.0

In [21]:
df_tps_passe = df_merge.groupby(["id_utilisateur"])["temps passé"].sum()
df_tps_passe.head(100)

id_utilisateur
1      1024.0
2      1407.8
3       475.7
4      1423.0
5       153.2
        ...
96     1324.9
97      335.0
98     1740.2
99     1132.3
100     864.8
Name: temps passé, Length: 100, dtype: float64

In [22]:
df_tps_passe2 = df_merge.groupby(["nom", "prénom"])["temps passé"].sum()
df_tps_passe2.head(100)

nom     prénom
Andre   Aaron       3255.5
        Adam         574.5
        Adèle       3810.3
        Alice       5489.1
        Alix        1499.6
                     ...
Arnaud  Isaac       2131.4
        Jade         951.7
        Jeanne      1647.7
        Julia       1876.3
        Juliette    1217.7
Name: temps passé, Length: 100, dtype: float64

In [31]:
df_merge.groupby(["id_utilisateur"]).agg(temps_total=("temps passé", "sum"))

                temps_total
id_utilisateur
1                    1024.0
2                    1407.8
3                     475.7
4                    1423.0
5                     153.2
...                     ...
9996                  982.2
9997                 1296.5
9998                 1089.8
9999                  214.6
10000                 237.1

[10000 rows x 1 columns]

In [35]:
df_classement_site = df_merge.pivot_table(index="site", values="temps passé", aggfunc="sum").sort_values("temps passé", ascending=False)
df_classement_site

                    temps passé
site
YouTube               1712149.2
TikTok                1047759.3
WhatsApp              1027653.6
Instagram             1013407.5
Snapchat               863502.0
X                      531493.2
Facebook               523419.4
Facebook Messenger     523285.7
LinkedIn               498369.7
Twitch                 349211.2
Pinterest              348419.7
WeChat                 345739.2
QQ                     177051.1