In [3]:
#importations
import pandas as pd    

#initialisation des variables
path = "./Data/eleves.csv"

In [5]:
#récupération des dataframes
df = pd.read_csv(path, encoding='latin1', infer_datetime_format=True)
df

        id   prenom       nom    sexe date_naissance  classe
0        1  Gabriel     Morin  Garçon     2007-10-04       3
1        2      Léa    Benoit   Fille     2005-12-30       1
2        3    Tiago     Morel  Garçon     2008-10-31       4
3        4     Emma       Roy   Fille     2011-06-04       6
4        5   Louise   Lacroix   Fille     2005-09-08       1
...    ...      ...       ...     ...            ...     ...
4995  4996      Tom    Bonnet  Garçon     2010-04-22       6
4996  4997    Chloé    Moreau   Fille     2011-09-18       7
4997  4998  Margaux     Henry   Fille     2006-11-05       2
4998  4999     Mila  Fontaine   Fille     2006-03-09       2
4999  5000     Nina  Martinez   Fille     2007-10-26       3

[5000 rows x 6 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              5000 non-null   int64
 1   prenom          5000 non-null   object
 2   nom             5000 non-null   object
 3   sexe            5000 non-null   object
 4   date_naissance  5000 non-null   object
 5   classe          5000 non-null   int64
dtypes: int64(2), object(4)
memory usage: 234.5+ KB