## Notebook de test
Test du **notebook**  
*Texte en italique*

In [1]:
import pandas as pd

In [ ]:
#Exemple de jointure

# DataFrame 1 : Clients
df_clients = pd.DataFrame({
    'client_id': [1, 2, 3, 4],
    'nom': ['Alice', 'Bob', 'Charlie', 'David'],
    'ville': ['Paris', 'Lyon', 'Marseille', 'Toulouse']
})

# DataFrame 2 : Commandes
df_commandes = pd.DataFrame({
    'commande_id': [101, 102, 103, 104],
    'client_id': [1, 2, 3, 1],
    'montant': [250, 150, 200, 300]
})

display(df_clients)

display(df_commandes)

In [ ]:
# Effectuer une jointure (INNER JOIN) sur la colonne 'client_id'
df_jointure = df_clients.merge(df_commandes, on='client_id')
df_jointure

In [ ]:
#Création d'un dataframe `df_commandes_colonnes_differentes`
#pour renommer la colonne "client_id" et illustrer les jointures avec
#de colonnes de noms différents

df_commandes_colonnes_differentes = df_commandes.copy()
df_commandes_colonnes_differentes.rename(columns={"client_id": "personne id"}, inplace=True)
print("Liste des commandes:")
display(df_commandes_colonnes_differentes)
print("Liste des clients:")
display(df_clients)

In [ ]:
# Effectuer une jointure (INNER JOIN) avec des noms des colonnes différents
df_clients.merge(df_commandes_colonnes_differentes, left_on='client_id', right_on='personne id')

In [ ]:
# Effectuer une jointure (LEFT JOIN)
df_jointure2 = df_clients.merge(df_commandes, on='client_id', how='left')
df_jointure2

In [ ]:
# Repérer les données qui se trouvent uniquement dans le DataFrame de gauche

df_jointure_left_sans_union = df_clients.merge(df_commandes, on='client_id', how='left')
df_jointure_left_sans_union[df_jointure_left_sans_union["commande_id"].isnull()]

### Exemple de commande GROUP BY
Utilisation de la fonction **groupby**

In [ ]:
df_jointure

In [ ]:
#Exemple de group by

# Grouper par 'client_id' et calculer le montant total dépensé
df_groupby = df_jointure.groupby('client_id')['montant'].sum().reset_index()

# Afficher le DataFrame résultant
display(df_groupby)

In [ ]:
df_groupby.info()

In [ ]:
df_groupbydf = pd.DataFrame(df_jointure.groupby('client_id')['montant'].sum())
df_groupbydf

In [ ]:
df_groupbydf.index

In [ ]:
df_jointure.groupby(['client_id']).agg(somme_total=("montant", "sum"))

In [ ]:
# Grouper par 'client_id' et calculer le montant total dépensé
df_groupby2 = df_jointure.groupby(['client_id']).agg(somme_total=("montant", "sum")).reset_index()

# Afficher le DataFrame résultant
display(df_groupby2)

In [ ]:
df_groupby2["somme_total"].sum()

### Repérer des données se trouvant dans un dataframe mais pas dans l'autre
Utilisation de la fonction merge avec un merge 'left' et indicator=True pour repérer uniquement les données présentes dans le premier dataframe

In [ ]:
import pandas as pd

# df1 : Liste des personnes dans df1
df1 = pd.DataFrame({
    'nom': ['Dupont', 'Martin', 'Durand', 'Bernard'],
    'prenom': ['Alice', 'Bob', 'Charlie', 'David']
})

# df2 : Liste des personnes dans df2
df2 = pd.DataFrame({
    'nom': ['Martin', 'Bernard', 'Lefevre'],
    'prenom': ['Bob', 'David', 'Emma']
})

print("DataFrame df1:")
display(df1)
print("\nDataFrame df2:")
display(df2)

In [ ]:
# Effectuer une jointure externe gauche (left join)
# indicator=True : Ajoute une colonne _merge indiquant l'origine de chaque ligne.
df_diff = pd.merge(df1, df2, on=['nom', 'prenom'], how='left', indicator=True)
df_diff

In [ ]:
# Sélectionner uniquement les lignes où '_merge' vaut 'left_only'
df_diff2 = df_diff[df_diff['_merge'] == 'left_only']
df_diff2

In [ ]:
print("\nPersonnes présentes dans df1 mais pas dans df2:")
df_diff2[['nom','prenom']]

In [ ]:
df2[['nom', 'prenom']].to_dict(orient='list')

In [ ]:
# Autre méthode (utilisation de la fonction isin)
df1[['nom', 'prenom']].isin(df2[['nom', 'prenom']].to_dict(orient='list'))

In [ ]:
~df1[['nom', 'prenom']].isin(df2[['nom', 'prenom']].to_dict(orient='list')).all(axis=1)

In [ ]:
mask = ~df1[['nom', 'prenom']].isin(df2[['nom', 'prenom']].to_dict(orient='list')).all(axis=1)
mask

In [ ]:
df1[mask]